{% trans_default_domain 'FOSUserBundle' %}

<link href="{{ asset('css/myformulaire.css') }}" rel="stylesheet">


<link href="{{ asset('css/myprofile.css') }}" rel="stylesheet">
<script src="{{ asset('js/jquery.min.js') }}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">



        <ul style="margin-top: 10%" id="accordion" class="accordion">
            <li>
                <div class="col col_4 iamgurdeep-pic">
                    <img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg">

                    <div class="username">
                        <h2>{{ user.firstname }}  {{ user.lastname }}  <small><i class="fa fa-map-marker"></i> {{ user.address }}</small></h2>
                        <p><i class="fa fa-user"></i> {% for role in user.roles %}

                              |  {{ role }} |

                            {% endfor %}</p>

                        {% if is_granted("ROLE_VETERINARY") %}


                        {% else %}

                        <a href="{{ path('office_new') }}"  class="btn-o"> <i class="fa fa-cog"></i> I have an office </a>
                        {% endif %}

                        <a href="{{ path('fos_user_profile_edit') }}"  class="btn-o"> <i class="fa fa-cog"></i> Edit </a>


                       {# <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v pull-right"></span></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Video Call <i class="fa fa-video-camera"></i></a></li>
                                    <li><a href="#">Poke <i class="fa fa-hand-o-right"></i></a></li>
                                    <li><a href="#">Report <i class="fa fa-bug"></i></a></li>
                                    <li><a href="#">Block <i class="fa fa-lock"></i></a></li>
                                </ul>
                            </li>
                        </ul>#}

                    </div>

                </div>

            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
{#
                    <li><a href="#"><i class="fa fa-calendar left-none"></i> Date of Birth : 03/09/1994</a></li>
#}
                    <li><a {#href="#"#}>Address : {{  user.address}}</a></li>
                    <li><a {#href="mailto:{{ user.email }}"#}>Email : {{ user.email }}</a></li>
                    <li><a {#href="#"#}>Phone :  {{ user.phonenumber }}</a></li>
                </ul>
            </li>
           {# <li class="default open">
                <div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#"><span class="tags">Adobe Photoshop</span> <span class="tags">Corel Draw</span> <span class="tags">CSS</span> <span class="tags">Css 3</span>
                            <span class="tags">Graphic Design</span> <span class="tags">HTML</span> <span class="tags">HTML5</span> <span class="tags">JavaScript</span>
                            <span class="tags">Twitter bootstrap</span> <span class="tags">bootstrap</span> <span class="tags">User Interface Design</span> <span class="tags">Wordpress</span></a>
                </ul>
            </li>#}
           {# <li>
                <div class="link"><i class="fa fa-picture-o"></i>Photos <small>1,120</small><i class="fa fa-chevron-down"></i></div>

            </li>#}
        </ul>
    </div>



</div>
<script>$(function() {
        var Accordion = function(el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function(e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }

        var accordion = new Accordion($('#accordion'), false);
    });









</script></div>
