{%  extends 'base.html.twig' %}
{% block content %}
<div style="
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
">
<table border="1">
    <tr>
        <td> Id </td>
        <td> Name </td>
        <td> Price </td>
        <td> Description </td>
        <td> Promotion </td>
        <td> Category </td>
    </tr>
    {% for p in products %}
        <tr>
            <td> {{ p.id }} </td>
            <td> {{ p.name }} </td>
            <td> {{ p.price }} </td>
            <td> {{ p.description }} </td>
            <td> {{ p.promotion }} </td>
            <td> {{ p.category.name }} </td>
            <td>
                <input type="button" id="editbtn" onclick="edit(this.id)"> Edit
                <a href="{{ path('edit_product', {'id' : p.id}) }}">edit</a>
            </td>
            <td> <input type="button" id="deletetbtn" onclick="remove(this.id)"> Delete </td>
        </tr>
    {% endfor %}


</table>

</div>

{% endblock %}