{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wishlists list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wishlist in wishlists %}
            <tr>
                <td><a href="{{ path('wishlist_show', { 'id': wishlist.id }) }}">{{ wishlist.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('wishlist_show', { 'id': wishlist.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('wishlist_edit', { 'id': wishlist.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('wishlist_new') }}">Create a new wishlist</a>
        </li>
    </ul>
{% endblock %}
