<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Paws and Claws{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>PetCare Kennels - Responsive html template</title>

            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

            <link href="{{ asset('css/navdropdown.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            {# <link href="css/style.css" rel="stylesheet">#}

            <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
            <!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block nav %}

        <!-- Navigation -->
        <div style="background-color:#f5f5f5 ;opacity: 0.8;"  class="navbar navbar-default navbar-fixed-top affix inner-pages" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="index.html"><strong>Pet</strong>Care<br />
                            <span data-hover="Kennels">Kennels</span>
                        </a></h1>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a  href="{{ path('main_homepage') }}"  title="Home"><span data-hover="Home">Home</span></a>
                        </li>
                        <li>
                            <a href="{{ path('pets_multi') }}" title="Pets"><span data-hover="Pets">Pets</span></a>
                        </li>
                        <li>
                            <a href="{{ path('products') }}" title="Products"><span data-hover="Products">Products</span></a>
                        </li>
                        <li>
                            <a href="{{ path('leisure') }}" title="Leisure"><span data-hover="Leisure">Leisure</span></a>
                        </li>
                        <li >
                            <a  href="{{ path('services_multi') }}"  title="Services"><span data-hover="Services">Services</span></a>
                        </li>
                        <li>
                            <a  href="{{ path('article_index') }}" title="Blog"><span data-hover="Blog">Blog</span></a>
                        </li>

                        <li>
                            <a  href="{{ path('contact') }}"  title="Contact"><span data-hover="Contact">Contact</span></a>
                        </li>
                       {% if is_granted("ROLE_ADMIN") %}
                        <li>
                            <a  href="{{ path('admin-index') }}">
                                DASHBOARD
                            </a>

                        </li>
                        {% endif %}
                        <li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li>

                            <div style="text-align:right;display:block;">

                                <div class="dropdown2">
                                    <button onclick="myFunction()" class="dropbtn btn btn-default {#btn-green#}"> {#My account#}  <img src="{{ asset('images/my-profile.png')}}" style="width:15px;height: 15px;">
                                    </button>
                                    <div id="myDropdown" class="dropdown-content" style="text-align: center">
                                        <a  href="{{ path('fos_user_profile_show') }}">
                                            {{ 'Check Profile'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                        <a  href="{{ path('fos_user_profile_edit') }}">
                                            {{ 'Edit Profile'|trans({}, 'FOSUserBundle') }}
                                        </a>

                                        <a  href="{{ path('myevents') }}">
                                          My events
                                        </a>
                                        <a  href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown2">

                                    <a  href="{{ path('main_homepage') }}"  title="Home"><button  class="dropbtn btn btn-default {#btn-green#}"> {#My account#}  <img src="{{ asset('images/notif.png')}}" style="width:15px;height: 15px;">
                                        </button></a>

                                </div>

                                {% else %}
                                    <li>
                                    <a  href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                     </li>
                        <li>
                                    <a  href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                                {% endif %}
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- Navigation end -->

    {% endblock %}
    <body class="homepage">

    {% block content%}{% endblock %}

    {% block footer  %}
    </body>
        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h6>A little about us</h6>
                        <p><strong>Our mission is to save every abondaned-animal and give them the chance to have a home. Paws and Claws gives you the chance to adopt an animal for free and enjoy their company.</strong></p>
                        <p>We believe there's a hero in every animals' lover. One click and you'll actually become one !</p>
                    </div>
                    <div class="col-md-3 blog">
                        <h6>Freshly blogged</h6>
                        <p class="title"><a href="#" title="">Eodem modo typi, qui nunc nobis</a></p>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                        <p><a href="#" title="">Read this post&hellip;</a></p>
                    </div>
                    <div class="col-md-3">
                        <h6>You may need this</h6>
                        <ul>
                            <li><a href="#" title="">Home</a></li>
                            <li><a href="#" title="">Contact us</a></li>
                            <li><a href="#" title="">FAQ</a></li>
                            <li><a href="#" title="">Terms &amp; conditions</a></li>
                            <li><a href="#" title="">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 contact-info">
                        <h6>Keep in touch</h6>
                        <p>If you have a question or want to have more infos about us, don't hesitate to contact us. You can also find us on </p>
                        <p class="social">
                            <a href="#" class="facebook"></a> <a href="#" class="pinterest"></a> <a href="#" class="twitter"></a>
                        </p>
                        <p class="c-details">
                            <span>Mail</span> <a href="#" title="">pawsandclawstn@gmail.com</a><br >
                            <span>Tel</span> 0203 000 444
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copyright">
                        <p>&copy; Copyright 2018. All rights reserved. <a href="#" title="PetCare wordpress theme">PetCare wordpress theme</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer end -->
    {% endblock %}

        {% block javascripts %}

            <!-- Javascript plugins -->
            <script src="https://code.jquery.com/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/carouFredSel.js"></script>
            <script src="js/jquery.stellar.min.js"></script>
            <script src="{{ asset('js/navdropdown.js') }}"></script>


            <script src="js/ekkoLightbox.js"></script>
            <script src="js/custom.js"></script>
        {% endblock %}
    </body>
</html>
