{% extends 'dashbase.html.twig' %}
{% block content %}

    <link href="{{ asset('css/table.css') }}" rel="stylesheet">


    <link href="{{ asset('css/admintable.css') }}" rel="stylesheet">
    <div style="text-align: center">
    <h1>EVENTS MANAGER </h1>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ vale }}</div>
                        <div class="text-muted">Validated Events</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ unvale }}</div>
                        <div class="text-muted">New Events</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ ncom }}</div>
                        <div class="text-muted">Comments</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked eye"><use xlink:href="#stroked-eye"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ nviews }}</div>
                        <div class="text-muted">Page Views</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->


    <div style="padding-top: 0%; padding-bottom: 5%; text-align: center;  ">


        <table >
            <thead>
            <tr>

                <th>Name</th>
                <th>Host name</th>
                <th>Description</th>
                <th>Beginning</th>
                <th>Ending</th>
                <th>Address</th>
                <th>Capacity</th>
                <th>Cost</th>
                <th></th>
                <th></th>
                {# <th></th>#}

            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></td>
                    <td>{{ event.hostid.username }}</td>

                    <td>{{ event.description }}</td>
                    <td>{% if event.beginningDate %}{{ event.beginningDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if event.endingDate %}{{ event.endingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.capacity }}</td>
                    <td>{{ event.cost }}</td>
                    {% if  event.validated ==1 %}
                      <td style="color: green;">EVENT VALIDATED</td>
                    {% elseif event.endingDate|date('Y-m-d') <= 'now'|date('Y-m-d') %}
                    <td style="color: red;">OUT OF DATE</td>
                    {% else %}
                    <td>
                        <a href="{{ path('admin-delete-event', { 'id': event.id } )}}">  <svg class="glyph stroked cancel"  style="color: red; height: 30px; width: 30px;">
                                <use xlink:href="#stroked-cancel"/>
                            </svg></a>



                        <a href="{{ path('admin-validate-event', { 'id': event.id } )}}">
                        <svg class="glyph stroked checkmark"  style="color: green; height: 30px; width: 30px;">
                            <use xlink:href="#stroked-checkmark"/>
                        </svg></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>


     {#   <a class="btn btn-default btn-green" href="{{ path('event_new') }}">Host a new Event </a>
        <a class="btn btn-default btn-green" href="{{ path('myevents') }}">Check my events</a>#}

    </div>
{% endblock %}

