{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaries list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Creationdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentary in commentaries %}
            <tr>
                <td><a href="{{ path('commentary_show', { 'id': commentary.id }) }}">{{ commentary.id }}</a></td>
                <td>{{ commentary.content }}</td>
                <td>{% if commentary.creationDate %}{{ commentary.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commentary_show', { 'id': commentary.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commentary_edit', { 'id': commentary.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentary_new') }}">Create a new commentary</a>
        </li>
    </ul>
{% endblock %}
