{% trans_default_domain 'FOSUserBundle' %}
<link href="{{ asset('css/myformulaire.css') }}" rel="stylesheet">




<div class="login-page">

    <div class="form">

        <div class="login-form" >


            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit"   class="btn btn-default btn-green"value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>


