{% trans_default_domain 'FOSUserBundle' %}
<link href="{{ asset('css/myformulaire.css') }}" rel="stylesheet">




<div class="login-page">

    <div class="form">

        <div class="login-form" >


            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit"   class="btn btn-default btn-green"value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>

{#

<div class="container">
    <h1><br style="text-align: center;"></h1>
    <hr>
    <div class="row">
        <!-- left column -->
       #}
{# <div class="col-md-3">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

            </div>
        </div>#}{#


        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Account creation :</h3>

            <form class="form-horizontal" role="form">

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

               #}
{# <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                                  </div>#}{#

                <div class="form-group">

                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">


                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.email) }}

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Username:</label>
                    <div class="col-lg-8">

                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.username) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Password:</label>
                    <div class="col-lg-8">

                        {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Retype Password :</label>
                    <div class="col-lg-8">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Address:</label>
                    <div class="col-lg-8">
                        {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Phone number:</label>
                    <div class="col-lg-8">
                        {{ form_widget(form.phonenumber, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3 control-label">Account type:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="user_time_zone" class="form-control">
                                <option value="Hawaii">Simple user</option>
                                <option value="Alaska">Shop</option>
                                <option value="Pacific Time (US &amp; Canada)">Veterinary</option>
                                <option value="Arizona">Petsitter</option>
                                     </select>
                            <br>
                            <input type="submit"   class="btn btn-default btn-green"value="{{ 'registration.submit'|trans }}" />

                        </div>
                    </div>
                </div>

                {{ form_end(form) }}

            </form>

        </div>
    </div>
</div>
<hr>


#}
