{% extends 'base.html.twig' %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".event-thumb").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

   {# <table class="table">
        <tr>
            <th style="color: goldenrod">Nom Destinataire</th>
            <th style="color: goldenrod">Contenu</th>
            <th style="color: goldenrod">Supprimer</th>
        </tr>
        {% for event in events %}
            <tr class="product-thumb">
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
            </tr>
        {% endfor %}
    </table>#}
    <br><br><br>
    {% include  'event/tablemap.html.twig'%}

    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <div style="padding-top: 0%; padding-bottom: 5%; text-align: center;  ">

        <h3 class="subtitle">Nom Evenement <input id="eve" class="form-control" type="text" placeholder="Chercher .."></h3>

{#
        <input id="myInput" type="text" >
#}



        <table>
            <thead>
            <tr>

                <th>Name</th>
                <th>Host</th>
                <th>Description</th>
                <th>Beginning</th>
                <th>Ending</th>
                <th>Address</th>
                <th>Capacity</th>
                <th>Cost</th>
                <th>Ongoing</th>
                <th></th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                {% if event.validated==1 %}

<script>    addMarker({{ event.posx }}, {{ event.posy }});</script>

                    <tr class="event-thumb">
                    <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></td>
                    <td>{{ event.hostid.username }}</td>
                    <td>{{ event.description }}</td>
                    <td>{% if event.beginningDate %}{{ event.beginningDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if event.endingDate %}{{ event.endingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.capacity }}</td>
                    <td>{{ event.cost }}</td>
                    <td>{% if (event.beginningDate|date('Y-m-d') <= 'now'|date('Y-m-d')) and (event.endingDate|date('Y-m-d') >= 'now'|date('Y-m-d')) %}
                            <div style="font-size:1em; color:green"><i class="fa fa-check" style="size: 25px"> </i>
                            </div>
                        {% else %}
                            <div style="font-size:1em; color:red"> <i class="fa fa-close" style="size: 25px"> </i>

                            </div>
                        {% endif %}
                    </td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {% if event.hostid.id==app.user.id %}
                    <td>

                        <a href="{{ path('event_edit', { 'id': event.id }) }}">  <div style="font-size:1em; color:gray"> <i class="fa fa-cog" style="size: 25px">  </i>
                            </div></a>



                    </td>
                    <td>
                        <a href="{{ path('event_delete', { 'id': event.id }) }}"> <div style="font-size:1em; color:gray"> <i class="fa fa-trash" style="size: 25px"> </i>
                            </div></a>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}

            </tbody>
        </table>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a  class="btn btn-default btn-green" href="{{ path('event_new') }}">Host a new Event </a>
        {% endif %}
        <a  class="btn btn-default btn-green" href="{{ path('myevents') }}">Check my events</a>

    </div>
{% endblock %}

