{% extends 'base.html.twig' %}

{% block content %}

    <link href="{{ asset('css/table.css') }}" rel="stylesheet">

    <div style="padding-top: 12%; padding-bottom: 5%; text-align: center;  ">


        <h1>MY EVENTS</h1>

        <table>
            <thead>
            <tr>

                <th>Name</th>
                <th>Host</th>
                <th>Description</th>
                <th>Beginning</th>
                <th>Ending</th>
                <th>Address</th>
                <th>Capacity</th>
                <th>Cost</th>
                <th>Available</th>
                <th></th>
               {# <th></th>#}

            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></td>
                    <td>{{ event.hostid.username }}</td>
                    <td>{{ event.description }}</td>
                    <td>{% if event.beginningDate %}{{ event.beginningDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if event.endingDate %}{{ event.endingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.capacity }}</td>
                    <td>{{ event.cost }}</td>
                    <td>{% if event.endingDate|date('Y-m-d') <= 'now'|date('Y-m-d') %}
                            <div style="font-size:1em; color:red"> <i class="fa fa-close" style="size: 25px"> </i>
                            </div>
                        {% else %}
                            <div style="font-size:1em; color:green"> <i class="fa fa-check" style="size: 25px"> </i>
                            </div>
                        {% endif %}
                    </td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {% if event.hostid.id==app.user.id %}
                    <td>

                        <a href="{{ path('event_edit', { 'id': event.id }) }}">  <div style="font-size:1em; color:gray"> <i class="fa fa-cog" style="size: 25px">  </i>
                            </div></a>



                    </td>
                  {#  <td>
                        <a href="{{ path('event_delete', { 'id': event.id }) }}"> <div style="font-size:1em; color:gray"> <i class="fa fa-trash" style="size: 25px"> </i>
                            </div></a>
                    </td>#}
                    {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a  class="btn btn-default btn-green" href="{{ path('event_new') }}">Host a new Event </a>
        {% endif %}
        <a  class="btn btn-default btn-green" href="{{ path('myevents') }}">Check my events</a>

    </div>
{% endblock %}

