{% extends 'base.html.twig' %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{{ asset('css/blogdisplay.css') }}" rel="stylesheet">

    {#<script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".event-thumb").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>#}

   {# <table class="table">
        <tr>
            <th style="color: goldenrod">Nom Destinataire</th>
            <th style="color: goldenrod">Contenu</th>
            <th style="color: goldenrod">Supprimer</th>
        </tr>
        {% for event in events %}
            <tr class="product-thumb">
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
            </tr>
        {% endfor %}
    </table>#}
    <br><br><br>
{#
    {% include  'event/tablemap.html.twig'%}
#}

{#
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">
#}

  {#  <div style="padding-top: 0%; padding-bottom: 5%; text-align: center;  " >

        <h3 class="subtitle">EVENT's lists <input id="nom" name="nom" class="form-control" type="text" placeholder="Chercher .."></h3>

#}{#
        <input id="myInput" type="text" >
#}{#




        <table>
            <thead>
            <tr>

                <th>Name</th>
                <th>Host</th>
                <th>Description</th>
                <th>Beginning</th>
                <th>Ending</th>
                <th>Address</th>
                <th>Capacity</th>
                <th>Cost</th>
                <th>Ongoing</th>
                <th></th>
                <th></th>

            </tr>
            </thead>
            <tbody id="res">
            {% for event in events %}
                {% if event.validated==1 %}

<script>    addMarker({{ event.posx }}, {{ event.posy }});</script>

                    <tr class="event-thumb">
                    <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></td>
                    <td>{{ event.hostid.username }}</td>
                    <td>{{ event.description }}</td>
                    <td>{% if event.beginningDate %}{{ event.beginningDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if event.endingDate %}{{ event.endingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.capacity }}</td>
                    <td>{{ event.cost }}</td>
                    <td>{% if (event.beginningDate|date('Y-m-d') <= 'now'|date('Y-m-d')) and (event.endingDate|date('Y-m-d') >= 'now'|date('Y-m-d')) %}
                            <div style="font-size:1em; color:green"><i class="fa fa-check" style="size: 25px"> </i>
                            </div>
                        {% else %}
                            <div style="font-size:1em; color:red"> <i class="fa fa-close" style="size: 25px"> </i>

                            </div>
                        {% endif %}
                    </td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    {% if event.hostid.id==app.user.id %}
                    <td>

                        <a href="{{ path('event_edit', { 'id': event.id }) }}">  <div style="font-size:1em; color:gray"> <i class="fa fa-cog" style="size: 25px">  </i>
                            </div></a>



                    </td>
                    <td>
                        <a href="{{ path('event_delete', { 'id': event.id }) }}"> <div style="font-size:1em; color:gray"> <i class="fa fa-trash" style="size: 25px"> </i>
                            </div></a>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}

            </tbody>
        </table>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a  class="btn btn-default btn-green" href="{{ path('event_new') }}">Host a new Event </a>
        {% endif %}
        <a  class="btn btn-default btn-green" href="{{ path('myevents') }}">Check my events</a>




    </div>
#}<br>
    <br>
<br>
    <br>
<br>
    <strong style="margin-left: 45%; margin-top: 10%">Paws and claws EVENTS</strong>
    <!--PEN CODE-->
    <h3 class="subtitle"> <input id="nom" name="nom" class="form-control" type="text" placeholder="Search ..."></h3>

    <div style="margin-top: 5%" id="res">
        {% if events is empty %}
            <strong style="margin-left: 43%"> No Available Events.</strong><br>

        {% endif %}

        {% for event in  events %}
        {% if event.validated==1 %}
            <div class="blog-card">
                <div class="photo "><img  src="https://maps.googleapis.com/maps/api/staticmap?center={{ event.posy }},{{ event.posx }}&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{ event.posy }},{{ event.posx }}
&key=AIzaSyAcsrLEjp-oYNRVFr10K9tNbaKSVzdsj_M"
                    ></div>
                <ul class="details">
                    <li class="author"><a href="#">{{ event.hostid.username }}</a></li>
                    <li class="date">{{ event.address }}           </li>
                {#    <li class="tags">
                        <ul>
                            <li>{{ event.address }}</li>
                        </ul>
                    </li>#}
                </ul>
                <div class="description" >
                    <h1>{{ event.name }}</h1>
                    <h2>{{event.beginningDate| date('F') }} {{ event.beginningDate| date('d') }},{{ event.beginningDate | date('Y') }}
               at         {{ event.beginningDate|date('H:i:s') }}</h2>
                    <p class="summary">{{ event.description }}</p>
                    <a href="{{ path('event_show', { 'id': event.id }) }}">Read More</a>
                </div>
            </div >
        {% endif %}
        {% endfor %}

    </div >
  {#  <div style="margin-left: 35%; margin-bottom: 5%" >
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a     class="btn btn-default btn-green" href="{{ path('article_new') }}">Write a new Article </a>

            <a  class="btn btn-default btn-green"  href="{{ path('myarticles') }}">Check my articles</a>
        {% endif %}</div>#}
    {#<div class="blog-card alt">
        <div class="photo photo2"></div>
        <ul class="details">
            <li class="author"><a href="#">Jane Doe</a></li>
            <li class="date">July. 15, 2015</li>
            <li class="tags">
                <ul>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Code</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </li>
        </ul>
        <div class="description">
            <h1>Mastering the Language</h1>
            <h2>Java is not the same as JavaScript</h2>
            <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <a href="#">Read More</a>
        </div>
    </div>#}
    <!--END PEN CODE-->




<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script>

        $('#nom').keyup(function(){
            var input= $("#nom").val();
            $.ajax({
                type: "POST",
                url: "{{ path('event_recherche_ajax') }}",
                data: {'nom': input},
                success: function (data) {

                    console.log(data);

                    $("#res").html(data);


                }
            });

        });


    </script>
{% endblock %}

