{% extends 'base.html.twig' %}

{% block content%}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Beginningdate</th>
                <th>Endingdate</th>
                <th>Address</th>
                <th>Posx</th>
                <th>Posy</th>
                <th>Capacity</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{% if event.beginningDate %}{{ event.beginningDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if event.endingDate %}{{ event.endingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.posx }}</td>
                <td>{{ event.posy }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.cost }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
