{#
<img src="
https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyAcsrLEjp-oYNRVFr10K9tNbaKSVzdsj_M ">
#}
<style>
    body {
        background: #dd3f3e;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }
    .ticket {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 900px;
    }
    .ticket .stub,
    .ticket .check {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .stub {
        background: #ef5658;
        height: 250px;
        width: 250px;
        color: white;
        padding: 20px;
        position: relative;
    }
    .stub:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 20px solid #dd3f3e;
        border-left: 20px solid #ef5658;
        width: 0;
    }
    .stub:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 20px solid #dd3f3e;
        border-left: 20px solid #ef5658;
        width: 0;
    }
    .stub .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 40px;
        text-transform: uppercase;
    }
    .stub .top .line {
        display: block;
        background: #fff;
        height: 40px;
        width: 3px;
        margin: 0 20px;
    }
    .stub .top .num {
        font-size: 10px;
    }
    .stub .top .num span {
        color: #000;
    }
    .stub .number {
        position: absolute;
        left: 40px;
        font-size: 150px;
    }
    .stub .invite {
        position: absolute;
        left: 150px;
        bottom: 45px;
        color: #000;
        width: 20%;
    }
    .stub .invite:before {
        content: '';
        background: #fff;
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 5px;
    }
    .check {
        background: #fff;
        height: 250px;
        width: 450px;
        padding: 40px;
        position: relative;
    }
    .check:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top: 20px solid #dd3f3e;
        border-right: 20px solid #fff;
        width: 0;
    }
    .check:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 20px solid #dd3f3e;
        border-right: 20px solid #fff;
        width: 0;
    }
    .check .big {
        font-size: 80px;
        font-weight: 900;
        line-height: .8em;
    }
    .check .number {
        position: absolute;
        top: 50px;
        right: 50px;
        color: #ef5658;
        font-size: 40px;
    }
    .check .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 12px;
        margin-top: 20px;
        width: 100%;
    }
    .check .info section {
        margin-right: 50px;
    }
    .check .info section:before {
        content: '';
        background: #ef5658;
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 5px;
    }
    .check .info section .title {
        font-size: 10px;
        text-transform: uppercase;
    }

    body
    {
        background-color: #a0daba;
    }
    .pannel
    {
        background-color:#76c99b;
    }
    html, body, #wrapper {
        height:100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #wrapper td {
        vertical-align: middle;
        text-align: center;
    }

</style>

<div style="height: 50%;/*background-color: red*/">hello mr {{ user.username }}you're invited to
    <strong>{{ event.name }}</strong>

   <p> {{ event.beginningDate| date('F') }} {{ event.beginningDate| date('d') }},{{ event.beginningDate | date('Y') }} </p>
</div>

<div style="height: 50%;/*background-color: blue*/">
    ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <!-- CSS Ticket inspired by -->
    <!-- https://dribbble.com/shots/2677752-Dribbble-invite-competition -->

    <div class="ticket">
        <div class="stub">
            <div class="top">
                <span class="admit">Admit</span>
                <span class="line"></span>
                <span class="num">
        Invitation
        <span>31415926</span>
      </span>
            </div>
            <div class="number">1</div>
            <div class="invite">
                Invite for you
            </div>
        </div>
        <div class="check">
            <div class="big">
                You're <br> Invited
            </div>
            <div class="number">#1</div>
            <div class="info">
                <section>
                    <div class="title">Date</div>
                    <div>4/27/2016</div>
                </section>
                <section>
                    <div class="title">Issued By</div>
                    <div>Ampersand</div>
                </section>
                <section>
                    <div class="title">Invite Number</div>
                    <div>31415926</div>
                </section>
            </div>
        </div>
    </div>
    <div style="text-align: center; height: 45%;left: 10%;right: 10%;width: 67%;margin:0px auto;">

        <table id="wrapper">
            <tr>
                <td><img style="border-width: 5px;border-style:solid;border-color: #4e9b70;  border-radius: 10px;margin:0px auto;"
                            src="https://maps.googleapis.com/maps/api/staticmap?center={{ event.posy }},{{ event.posx }}&zoom=13&size=800x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{ event.posy }},{{ event.posx }}
&key=AIzaSyAcsrLEjp-oYNRVFr10K9tNbaKSVzdsj_M"
                    ></td>
            </tr>
        </table>

</div>
</div>

{#

api key AIzaSyAcsrLEjp-oYNRVFr10K9tNbaKSVzdsj_M#}
