{#
<img src="
https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyAcsrLEjp-oYNRVFr10K9tNbaKSVzdsj_M ">
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style >
        /*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

        * { margin: 0; padding: 0; }
        body { font: 14px/1.4 Georgia, serif; }
        #page-wrap { width: 800px; margin: 0 auto; }
        .delete {
            display: none;
        }

        textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
        table { border-collapse: collapse; }
        table td, table th { border: 1px solid black; padding: 5px; }

        #header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

        #address { width: 250px; height: 150px; float: left; }
        #customer { overflow: hidden; }

        #logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
        #logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
        #logoctr { display: none; }
        #logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
        #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
        #logohelp input { margin-bottom: 5px; }
        .edit #logohelp { display: block; }
        .edit #save-logo, .edit #cancel-logo { display: inline; }
        .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
        #customer-title { font-size: 20px; font-weight: bold; float: left; }

        #meta { margin-top: 1px; width: 300px; float: right; }
        #meta td { text-align: right;  }
        #meta td.meta-head { text-align: left; background: #eee; }
        #meta td textarea { width: 100%; height: 20px; text-align: right; }

        #items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
        #items th { background: #eee; }
        #items textarea { width: 80px; height: 50px; }
        #items tr.item-row td { border: 0; vertical-align: top; }
        #items td.description { width: 300px; }
        #items td.item-name { width: 175px; }
        #items td.description textarea, #items td.item-name textarea { width: 100%; }
        #items td.total-line { border-right: 0; text-align: right; }
        #items td.total-value { border-left: 0; padding: 10px; }
        #items td.total-value textarea { height: 20px; background: none; }
        #items td.balance { background: #eee; }
        #items td.blank { border: 0; }

        #terms { text-align: center; margin: 20px 0 0 0; }
        #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
        #terms textarea { width: 100%; text-align: center;}

        textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

        .delete-wpr { position: relative; }
        .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
    </style>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Editable Invoice</title>


</head>

<body>

<div id="page-wrap">

    <textarea id="header">PAWS AND CLAWS</textarea>

    <div id="identity">

            <textarea id="address">Mr. {{ user.firstname }} {{ user.lastname }}
               </textarea>

        <div id="logo">

            <div id="logoctr">
                <a href="javascript:;" id="change-logo" title="Change logo">Change Logo</a>
                <a href="javascript:;" id="save-logo" title="Save changes">Save</a>
                |
                <a href="javascript:;" id="delete-logo" title="Delete logo">Delete Logo</a>
                <a href="javascript:;" id="cancel-logo" title="Cancel changes">Cancel</a>
            </div>

            <div id="logohelp">
                <input id="imageloc" type="text" size="50" value="" /><br />
            </div>
        </div>

    </div>

    <div style="clear:both"></div>

    <div id="customer">

            <textarea id="customer-title">You're invited to {{ event.name }}
</textarea>

        <table id="meta">
            <tr>
                <td class="meta-head">ID</td>
                <td><textarea>{{ event.id }}</textarea></td>
            </tr>
            <tr>

                <td class="meta-head">Printed at:</td>
                <td><textarea id="date"> {{ 'now'|date('d - m -Y') }}
                        {#{{ "now"|date("m/d/Y") }} #} </textarea></td>
            </tr>


        </table>

    </div>

    <table id="items">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Beginning Date</th>
            <th>Ending Date</th>

        </tr>

        <tr class="item-row">
            <td class="item-name"><textarea>{{ event.name }}</textarea></td>
            <td class="description"><textarea>{{ event.description }}</textarea></td>
            <td><textarea class="cost">{{event.beginningDate| date('F') }} {{event.beginningDate| date('d') }},{{event.beginningDate | date('Y') }} at {{event.beginningDate|date('H:i:s') }}</textarea></td>
            <td><textarea class="qty">{{event.endingDate| date('F') }} {{event.endingDate| date('d') }},{{event.endingDate | date('Y') }} at {{event.endingDate|date('H:i:s') }}</textarea></td>
        </tr>
        {#
        <tr>
            <td colspan="2" class="blank"> </td>
            <td colspan="2" class="total-line">Subtotal</td>
            <td class="total-value"><div id="subtotal">$875.00</div></td>
        </tr>
        <tr>

            <td colspan="2" class="blank"> </td>
            <td colspan="2" class="total-line">Total</td>
            <td class="total-value"><div id="total">$875.00</div></td>
        </tr>
        <tr>
            <td colspan="2" class="blank"> </td>
            <td colspan="2" class="total-line">Amount Paid</td>

            <td class="total-value"><textarea id="paid">$0.00</textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="blank"> </td>
            <td colspan="2" class="total-line balance">Balance Due</td>
            <td class="total-value balance"><div class="due">$875.00</div></td>
        </tr>
#}
    </table>

    <div id="terms">
        <h5>Terms</h5>
        <textarea>THE SESSION'S COST WILL BE ANNOUNCED AT THE ACTUAL OFFICE AND PAC IS OUT OF ANY RESPONSIBILITY</textarea>
    </div>

</div>

</body>

</html>

{#<style>
    body {
        background: #dd3f3e;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }
    .ticket {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 900px;
    }
    .ticket .stub,
    .ticket .check {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .stub {
        background: #ef5658;
        height: 250px;
        width: 250px;
        color: white;
        padding: 20px;
        position: relative;
    }
    .stub:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 20px solid #dd3f3e;
        border-left: 20px solid #ef5658;
        width: 0;
    }
    .stub:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 20px solid #dd3f3e;
        border-left: 20px solid #ef5658;
        width: 0;
    }
    .stub .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 40px;
        text-transform: uppercase;
    }
    .stub .top .line {
        display: block;
        background: #fff;
        height: 40px;
        width: 3px;
        margin: 0 20px;
    }
    .stub .top .num {
        font-size: 10px;
    }
    .stub .top .num span {
        color: #000;
    }
    .stub .number {
        position: absolute;
        left: 40px;
        font-size: 150px;
    }
    .stub .invite {
        position: absolute;
        left: 150px;
        bottom: 45px;
        color: #000;
        width: 20%;
    }
    .stub .invite:before {
        content: '';
        background: #fff;
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 5px;
    }
    .check {
        background: #fff;
        height: 250px;
        width: 450px;
        padding: 40px;
        position: relative;
    }
    .check:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top: 20px solid #dd3f3e;
        border-right: 20px solid #fff;
        width: 0;
    }
    .check:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 20px solid #dd3f3e;
        border-right: 20px solid #fff;
        width: 0;
    }
    .check .big {
        font-size: 80px;
        font-weight: 900;
        line-height: .8em;
    }
    .check .number {
        position: absolute;
        top: 50px;
        right: 50px;
        color: #ef5658;
        font-size: 40px;
    }
    .check .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 12px;
        margin-top: 20px;
        width: 100%;
    }
    .check .info section {
        margin-right: 50px;
    }
    .check .info section:before {
        content: '';
        background: #ef5658;
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 5px;
    }
    .check .info section .title {
        font-size: 10px;
        text-transform: uppercase;
    }

    body
    {
        background-color: #a0daba;
    }
    .pannel
    {
        background-color:#76c99b;
    }
    html, body, #wrapper {
        height:100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #wrapper td {
        vertical-align: middle;
        text-align: center;
    }

</style>

<div style="height: 50%;/*background-color: red*/">hello mr {{ user.username }}you're invited to
    <strong>{{ event.name }}</strong>

   <p> {{ event.beginningDate| date('F') }} {{ event.beginningDate| date('d') }},{{ event.beginningDate | date('Y') }} </p>
</div>

<div style="height: 50%;/*background-color: blue*/">
    ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <!-- CSS Ticket inspired by -->
    <!-- https://dribbble.com/shots/2677752-Dribbble-invite-competition -->

    <div class="ticket">
        <div class="stub">
            <div class="top">
                <span class="admit">Admit</span>
                <span class="line"></span>
                <span class="num">
        Invitation
        <span>31415926</span>
      </span>
            </div>
            <div class="number">1</div>
            <div class="invite">
                Invite for you
            </div>
        </div>
        <div class="check">
            <div class="big">
                You're <br> Invited
            </div>
            <div class="number">#1</div>
            <div class="info">
                <section>
                    <div class="title">Date</div>
                    <div>4/27/2016</div>
                </section>
                <section>
                    <div class="title">Issued By</div>
                    <div>Ampersand</div>
                </section>
                <section>
                    <div class="title">Invite Number</div>
                    <div>31415926</div>
                </section>
            </div>
        </div>
    </div>#}
    <div style="text-align: center; height: 45%;left: 10%;right: 10%;width: 67%;margin:0px auto;">

        <table id="wrapper">
            <tr>
                <td><img style="border-width: 5px;border-style:solid;border-color: #4e9b70;  border-radius: 10px;margin:0px auto;"
                            src="https://maps.googleapis.com/maps/api/staticmap?center={{ event.posy }},{{ event.posx }}&zoom=13&size=800x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{ event.posy }},{{ event.posx }}
&key=AIzaSyAcsrLEjp-oYNRVFr10K9tNbaKSVzdsj_M"
                    ></td>
            </tr>
        </table>

</div>
</div>

{#

api key AIzaSyAcsrLEjp-oYNRVFr10K9tNbaKSVzdsj_M#}
