{% extends 'base.html.twig' %}

{% block content %}
    {% include 'event/obstart.html.twig' %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <style href="{{ asset('css/commentary.css') }}"></style>
    <link href="{{ asset('css/commentary.css') }}" rel="stylesheet">

    <link href="{{ asset('css/myformulaire.css') }}" rel="stylesheet">

    <style>

        textarea {
            resize: none;
        }

        /* .thumbnail {
             padding: 0px;
         }

         .panel {
             position: relative;
         }

         .panel > .panel-heading:after, .panel > .panel-heading:before {
             position: absolute;
             top: 11px;
             left: -16px;
             right: 15%;
             width: 0;
             height: 0;
             display: block;
             content: " ";
             border-color: transparent;
             border-style: solid solid outset;
             pointer-events: none;
         }

         .panel > .panel-heading:after {
             border-width: 7px;
             border-right-color: #f7f7f7;
             margin-top: 1px;
             margin-left: 2px;
         }

         .panel > .panel-heading:before {
             border-right-color: #ddd;
             border-width: 8px;
         }*/
       *{
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       html{
           font: normal 13px sans-serif;
       }

       .comment-section{
           list-style: none;
           max-width: 800px;
           width: 100%;
           margin: 50px auto;
           padding: 10px;
       }

       .comment{
           display: flex;
           border-radius: 3px;
           margin-bottom: 45px;
           flex-wrap: wrap;
       }

       .comment.user-comment{
           color:  #808080;
       }

       .comment.author-comment{
           color:  #60686d;
           justify-content: flex-end;
       }

       /* User and time info */

       .comment .info{
           width: 17%;
       }

       .comment.user-comment .info{
           text-align: right;
       }

       .comment.author-comment .info{
           order: 3;
       }


       .comment .info a{	/* User name */
           display: block;
           text-decoration: none;
           color: black;
           font-weight: bold;
           text-overflow: ellipsis;
           overflow: hidden;
           white-space: nowrap;
           padding: 10px 0 3px 0;
       }

       .comment .info span{	/* Time */
           font-size: 11px;
           color:  black;
       }


       /* The user avatar */

       .comment .avatar{
           width: 8%;
       }

       .comment.user-comment .avatar{
           padding: 10px 18px 0 3px;
       }

       .comment.author-comment .avatar{
           order: 2;
           padding: 10px 3px 0 18px;
       }

       .comment .avatar img{
           display: block;
           border-radius: 50%;
       }

       .comment.user-comment .avatar img{
           float: right;
       }





       /* The comment text */

       .comment p{
           line-height: 1.5;
           padding: 18px 22px;
           width: 50%;
           position: relative;
           word-wrap: break-word;
       }

       .comment.user-comment p{
           background-color:  #f3f3f3;
       }

       .comment.author-comment p{
           background-color:  #e2f8ff;
           order: 1;
       }

       .user-comment p:after{
           content: '';
           position: absolute;
           width: 15px;
           height: 15px;
           border-radius: 50%;
           background-color: #ffffff;
           border: 2px solid #f3f3f3;
           left: -8px;
           top: 18px;
       }

       .author-comment p:after{
           content: '';
           position: absolute;
           width: 15px;
           height: 15px;
           border-radius: 50%;
           background-color: #ffffff;
           border: 2px solid #e2f8ff;
           right: -8px;
           top: 18px;
       }




       /* Comment form */

       .write-new{
           margin: 80px auto 0;
           width: 50%;
       }

       .write-new textarea{
           color:  #444;
           font: inherit;

           outline: 0;
           border-radius: 3px;
           border: 1px solid #cecece;
           background-color:  #fefefe;
           box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
           overflow: auto;

           width:100%;
           min-height: 80px;
           padding: 15px 20px;
       }

       .write-new img{
           border-radius: 50%;
           margin-top: 15px;
       }

       .write-new button{
           float:right;
           background-color:  #87bae1;
           box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
           border-radius: 2px;
           border: 0;
           color: #ffffff;
           font-weight: bold;
           cursor: pointer;

           padding: 10px 25px;
           margin-top: 18px;
       }



       /* Responsive styles */

       @media (max-width: 800px){
           /* Make the paragraph in the comments take up the whole width,
           forcing the avatar and user info to wrap to the next line*/
           .comment p{
               width: 100%;
           }

           /* Reverse the order of elements in the user comments,
           so that the avatar and info appear after the text. */
           .comment.user-comment .info{
               order: 3;
               text-align: left;
           }

           .comment.user-comment .avatar{
               order: 2;
           }

           .comment.user-comment p{
               order: 1;
           }


           /* Align toward the beginning of the container (to the left)
           all the elements inside the author comments. */
           .comment.author-comment{
               justify-content: flex-start;
           }


           .comment-section{
               margin-top: 10px;
           }

           .comment .info{
               width: auto;
           }

           .comment .info a{
               padding-top: 15px;
           }

           .comment.user-comment .avatar,
           .comment.author-comment .avatar{
               padding: 15px 10px 0 18px;
               width: auto;
           }

           .comment.user-comment p:after,
           .comment.author-comment p:after{
               width: 12px;
               height: 12px;
               top: initial;
               left: 28px;
               bottom: -6px;
           }

           .write-new{
               width: 100%;
           }
       }



       /* ------- Demo footer. Please ignore and remove ------- */

       footer {
           font: normal 16px Arial, Helvetica, sans-serif;
           padding: 15px 35px;
           position: fixed;
           bottom: 0;
           left: 0;
           right: 0;
           background-color: #1B1F22;
           box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
           z-index: 1;
           text-align: left;
       }

       footer a.tz{
           font-weight: normal;
           font-size: 16px !important;
           text-decoration: none !important;
           display: block;
           margin-right: 300px;
           text-overflow: ellipsis;
           white-space: nowrap;
           color: #CCC !important;
           position: relative;
           padding-left: 140px;
       }

       footer a.tz:before{
           font-weight: bold;
           color: #FFF;
           content: 'tutorial';
           position: absolute;
           text-align: right;
           width: 100px;
           left: -20px;
       }

       footer a.tz:after{
           content: 'zine';
           position: absolute;
           font-weight: bold;
           color: #DA431C;
           left: 80px;
       }


       @media (max-width: 1024px) {
           footer{ display:none;}
       }
    </style>
    <link href="{{ asset('css/myprofile.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <body style="background-color:#62c28d">

   <br><br><br><br><br><br><br>

   <div class="container" style="width: 100%">
        <div class="row" style="width: 100%;background-color:#62c28d">


            <ul style="margin-top: -2%;float: left;width:700px; left: 0px;padding-right: 0px;" id="accordion" class="accordion">
                <li>
                    <div class="col col_4 iamgurdeep-pic">
                        <div style="background-color: #62c28d">
                        <a  href="{{ path('nextevent', {'id': event.id}) }}" style="color: white;font-size: 20px; margin-bottom: 2%;float: right;padding-right: 10%; " >Next Event </a>
                            <a  href="{{ path('previousevent', {'id': event.id}) }}" style="color: white;font-size: 20px; float: left;padding-left: 8%" >Previous event</a>

                        {% if event.brochure %}
                            <img style="width: 400px; height: 400px" class="img-responsive iamgurdeeposahan"
                                 alt="iamgurdeeposahan"
                                 src="{{ asset('bundles/uploads/brochures/'~event.brochure ) }}">
                        {% else %}
                            <img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan"
                                 src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg">


                        {% endif %}
                        {#
                                                <img style="width: 100px ;height: 100px" src="{{ asset('bundles/uploads/brochures/'~produit.brochure )}}">
                        #}
                        <div class="username">
                            <h2>{{ event.name }}
                                <small><i class="fa fa-map-marker"></i> {{ event.address }}</small>
                            </h2>
                            <p><i class="fa fa-user"></i> Hosted by <strong>{{ event.hostid.username }}</strong></p>

                            {#
                                                    <a href="{{ path('fos_user_profile_edit') }}"  class="btn-o"> <i class="fa fa-cog"></i> Edit </a>
                            #}
                            <a href="{{ path('event_index') }}" class="btn-o"> <i class="fa fa-undo "></i>See all events</a>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}




                                {% if event.hostid.id==app.user.id %}
                                    {{ form_start(delete_form) }}
                                    {# <input type="submit" value="Delete">#}

                                    <input type="submit" value="Delete" class="btn-o"> <a
                                        href="{{ path('event_edit', { 'id': event.id }) }}" class="btn-o"><i
                                            class="fa fa-cog"></i></a>
                                    {{ form_end(delete_form) }}
                                {% else %}
                                    {% if event.endingDate|date('Y-m-d') > 'now'|date('Y-m-d') %}
                                        {% if verif==0 %}

                                            <a href={{ path('addreservation', {'uid': app.user.id, 'eid': event.id}) }} class="btn-o">
                                                <i class="fa fa-ticket "></i>Participate</a>
                                        {% else %}
                                           {# {{ form(formrating) }}#}

                                            <a href={{ path('deletereservation', {'uid': app.user.id, 'eid': event.id}) }} class="btn-o">
                                                <i class="fa fa-ticket "></i>Not participating </a>
{#
                                            pdfinvitation
#}
                                            <a href={{ path('pdfinvitation', {'uid': app.user.id, 'eid': event.id}) }} class="btn-o" >Get invitation</a>

                                        {% endif %}
                                    {% else %}
<a style="color: red;"> Event Ended</a>
                                    {% endif %}
                                {% endif %}



                            {% endif %}

                             {#<ul class="nav navbar-nav">
                                 <li class="dropdown">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v pull-right"></span></a>
                                     <ul class="dropdown-menu pull-right">
                                         <li><a href="#">Video Call <i class="fa fa-video-camera"></i></a></li>
                                         <li><a href="#">Poke <i class="fa fa-hand-o-right"></i></a></li>
                                         <li><a href="#">Report <i class="fa fa-bug"></i></a></li>
                                         <li><a href="#">Block <i class="fa fa-lock"></i></a></li>
                                     </ul>
                                 </li>
                             </ul>
#}
                        </div>

                    </div>
                    </div>
                </li>
                <li>
                    <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        {#
                                            <li><a href="#"><i class="fa fa-calendar left-none"></i> Date of Birth : 03/09/1994</a></li>
                        #}
                        <li><a {#href="#"#}>Description: {{ event.description }}</a></li>
                        <li><a {#href="#"#}> Ticket price: {{ event.cost }} DT</a></li>
                        <li><a {#href="#"#}> Capacity: {{ event.capacity }}</a></li>
                        <li><a {#href="#"#}> Starting
                                : {% if event.beginningDate %}{{ event.beginningDate|date('Y-m-d ') }} at {{ event.beginningDate|date(' H:i:s') }}{% endif %}</a>
                        </li>
                        <li><a {#href="#"#}> Ending
                                : {% if event.endingDate %}{{ event.endingDate|date('Y-m-d ') }} at {{ event.endingDate|date(' H:i:s') }}{% endif %}</a>
                        </li>

                    </ul>
                </li>
                {# <li class="default open">
                     <div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
                     <ul class="submenu">
                         <li><a href="#"><span class="tags">Adobe Photoshop</span> <span class="tags">Corel Draw</span> <span class="tags">CSS</span> <span class="tags">Css 3</span>
                                 <span class="tags">Graphic Design</span> <span class="tags">HTML</span> <span class="tags">HTML5</span> <span class="tags">JavaScript</span>
                                 <span class="tags">Twitter bootstrap</span> <span class="tags">bootstrap</span> <span class="tags">User Interface Design</span> <span class="tags">Wordpress</span></a>
                     </ul>
                 </li>#}
                <li>
                    <div class="link"><i class="fa fa-picture-o"></i>Photos
                        <small>1,120</small>
                        <i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li class="photosgurdeep"><a href="#"><img class="img-responsive iamgurdeeposahan"
                                                                   alt="iamgurdeeposahan"
                                                                   src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                            </a>
                            <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan"
                                             src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                            </a>
                            <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan"
                                             src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                            </a>
                            <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan"
                                             src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                            </a>

                            <a class="view-all" href="https://web.facebook.com/iamgurdeeposahan" target="_blank">15+
                            </a>

                        </li>
                    </ul>
                </li>
                <li>
                    <div class="link"><i class="fa fa-paw"></i>Participants
                        <small>{{ nbparticipants }}/{{ event.capacity }}</small>
                        <i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li class="photosgurdeep">
                            {% for reservation in reservations %}
                                <ul>
                                    <li>
                                        <small style="color: white;">    {{ reservation.participantid.username }}</small>
                                        <br>
                                    </li>
                                </ul>
                            {% endfor %}
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="link"><i class="fa fa-map"></i>Localisation
                        {#
                                                <small>1,053</small>
                        #}
                        <i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <input id="lat" hidden value="{{ event.posy }}">
                        <input id="lng" hidden value="{{ event.posx }}">


                        {% include 'event/singleeventmap.html.twig' %}
                    </ul>
                </li>
            </ul>


<div style=" width: 70%;float: right;background-color:#76c99b;overflow-y: scroll; height:350px;margin-top: 0%">
 <ul class="comment-section">

        {% for commentary in commentaries %}
        {% if  commentary.commentator.username==app.user %}

        <li class="comment author-comment">

            <div class="info">
                <a href="#"> {{ commentary.commentator.username }} </a>
                <span>{{ commentary.creationDate |date('Y-m-d') }} at {{ commentary.creationDate |date(' H:i:s') }} </span>
            </div>

            <a class="avatar" href="#">
                <img src="images/avatar_author.jpg" width="35" alt="Profile Avatar" title="Jack Smith" />
            </a>

            <p> {{ commentary.content}}</p>

        </li>


        {% else %}
        <li class="comment user-comment">

                    <div class="info">
                        <a href="#">{{ commentary.commentator.username }}</a>
                        <span>4 hours ago</span>
                    </div>

                    <a class="avatar" href="#">
                        <img src="images/avatar_user_1.jpg" width="35" alt="Profile Avatar" title="Anie Silverston" />
                    </a>

                    <p>{{ commentary.content}}</p>

                </li>
        {% endif %}
       {% endfor %}
           </ul>

</div>
            <div style="float: right; width: 800px;">
                <div class="write-new">

                    <form action="#" method="post">
                        {{ form_start(form) }}
                        {% if   is_granted('ROLE_USER') %}

                        {{ form_widget(form.content) }}
                        {% else %}
                        {{ form_row(form.content, { 'attr':{'disabled':'disabled'} }) }}
{% endif %}
                        <input style="float:right;margin-top: 5%" type="submit" value="Comment"/>


                        {{ form_end(form) }}
                    </form>


                </div>
            </div>
        </div>
    </div></body>
    <script>$(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion'), false);
        });


    </script>




{% endblock %}
