{% extends 'base.html.twig' %}

{% block content %}
<style>
    .rating {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        padding-top: 0px;
        text-align: center;
    }

    .like
    {
        display: inline-block;
        cursor: pointer;
        margin: 10px;
        color: #62c28d;


    }
    .dislike {


        display: inline-block;
        cursor: pointer;
        margin: 10px;
        color:  #ff6666;
    }

    .dislike:hover
    {

        color:
                #ff1919;
        transition: all .2s ease-in-out;
        transform: scale(1.1);

    }

    .like:hover {
        color: #3a7454;
        transition: all .2s ease-in-out;
        transform: scale(1.1);

    }
textarea
{
    resize: none;}

    .rating {
        text-align: center;
        margin-top: 5px;
        margin-left:20%;
        position: relative;
        width: 50%;
        float: left;
    }

    .hidden {
        opacity: 0;
    }

    .star {
        cursor: pointer;
        display: inline-block;
        margin: 5px;
        font-size: 30px;
        color: whitesmoke;
        position: relative;
    }
    .star.animate {
        -webkit-animation: stretch-bounce .5s ease-in-out;
    }
    .star.hidden {
        opacity: 0;
    }

    .full:before {
        font-family: fontAwesome;
        display: inline-block;
        content: "\f005";
        position: relative;
        float: right;
        z-index: 2;
    }

    .half:before {
        font-family: fontAwesome;
        content: "\f089";
        position: absolute;
        float: left;
        z-index: 3;
    }

    .star-colour {
        color: #ffd700;
    }

    @-webkit-keyframes stretch-bounce {
        0% {
            -webkit-transform: scale(1);
        }
        25% {
            -webkit-transform: scale(1.5);
        }
        50% {
            -webkit-transform: scale(0.9);
        }
        75% {
            -webkit-transform: scale(1.2);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    .selected:before {
        font-family: fontAwesome;
        display: inline-block;
        content: "\f005";
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        opacity: 1;
        z-index: 1;
    }
    .selected.pulse:before {
        -webkit-transform: scale(3);
        opacity: 0;
    }
    .selected.is-animated:before {
        transition: 1s ease-out;
    }

    .score {
        font-family: arial;
        font-size: 20px;
        color: green;
        margin-top: 20px;
        margin-left: 50px;
    }

    .score-rating {
        vertical-align: sup;
        top: -5px;
        position: relative;
        font-size: 150%;
    }

    .total {
        vertical-align: sub;
        top: 0px;
        position: relative;
        font-size: 100%;
    }

    .average {
        font-family: arial;
        font-size: 20px;
        color: indianred;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .average .score-average {
        padding-top: 30px;
    }



    .active {
        color: #62c28d;
    }
</style>
    <link href="{{ asset('css/blogsingle.css') }}" rel="stylesheet">
    <div class="wrapper" style="margin-top: 10%;">

        <div class="card radius shadowDepth1" style="width: 170%;margin-right: 70%;border:#c4e7d5 solid 5px;border-radius: 8px;">
            <div class="card__image border-tlr-radius" style="text-align: center;border:#c4e7d5;background-color: #c4e7d5;">
                <img style="width: 50%;height: 20%; margin-left: 25%;" src="{{ asset('bundles/uploads/brochures/'~(article.brochure) ) }}">            </div>

            <div class="card__content card__padding" style="background-color: #eef8f3">

                <div class="card__meta">
                    <a  href="{{ path('searchbycategory', { 'category': article.category}) }}">{{ article.category }}</a>
                    <time style="color: white;"></time>
                </div>

                <article class="card__article">
                    <h2><a href="#">{{ article.title }}</a></h2>

                    <p>{{ article.content }}</p>
                </article>
            </div>

            <div class="card__action" style="background-color: #eef8f3">

                <div class="card__author">
                    <img src="http://lorempixel.com/40/40/sports/" >
                    <div class="card__author-content">
                        By <a href="#">{{ article.author }}</a>
                        <br>

                    </div>
{#
                    {{ test }}
#}
                   <div  style="float:right; margin-bottom: 8%;text-align: center;"> {{ likes }} likes , {{ dislikes }} dislikes <br>

                       {% if app.user %}

                           <div class="rating">
                               <!-- Thumbs up -->
                               <div class="like grow">
                                   <a   href="{{ path('likearticle', { 'id': article.id }) }}"><i class="fa fa-thumbs-up fa-3x like" aria-hidden="true"></i></a>

                               </div>
                               <!-- Thumbs down -->
                               <div class="dislike grow">
                                   <a href="{{ path('dislikearticle', { 'id': article.id }) }}"><i class="fa fa-thumbs-down fa-3x dislike" aria-hidden="true" ></i></a>

                               </div>
                           </div>

                       {% endif %}
                   </div>
                    {% if app.user==article.author %}
                    {{ form_start(delete_form) }}
                    <a  style="float: left;" href="{{ path('article_edit', { 'id': article.id }) }}"><input type="button" style="background-color: #5ea07c;color: white;" class="btn btn-default" value="Edit article"></a>

                    <input style="float: left;background-color: #5ea07c;color: white;" type="submit"  class="btn btn-default" value="Delete article">
                    {{ form_end(delete_form) }}
                    {% endif %}
                </div>
                

            </div>
            <a style="float: right;margin-top: 2%" href="{{ path('article_index') }}">Check other articles</a>

        </div>

    </div>
{#

{% for review in reviews %}
{{ review.user.username }} ,{{ review.content }},{{ review.rating }},
    {{review.date| date('F') }} {{review.date| date('d') }},{{ review.date| date('Y') }}

{% endfor %}

    {{ form_start(form) }}

    {{ form_row(form.content) }}
    {{ form_row(form.rating) }}
    <input type="submit" value="clic me ">

    {{ form_end(form) }}
#}

    {#==========================================================================================
                    ======================               Commentaire              ============================
                    ==========================================================================================#}
    {#  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .thumbnail {
            padding: 0px;
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }
    </style>
    <!------ Include the above in your HEAD tag ---------->
    {#{% for commentaire in c %}#}
    {#{% if commentaire.Commentedproduct.id==produit.id %}#}

    {% for review in reviews %}
        <div class="container" style="margin-left: 25%; ">
            <div class="row">
                <div class="col-sm-12">
                </div><!-- /col-sm-12 -->
            </div><!-- /row -->
            <div class="row">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo"
                             src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->


                <div class="col-sm-5">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ review.user.username }}</strong> <span
                                    class="text-muted">
                                {{ time_diff(review.date) }} <p style="float: right">{{ review.rating }}/5</p>
</span>
                        </div>
                        <div class="panel-body">
                            {{ review.Content }}
                           {# {% if review.user == app.user %}
                               #}{# <td><input href="{{ path('supp_comm',{'id':comment.id,'idp':comment.commentedproduct.id} )}}"
                                           type="submit" class=" btn btn-primary col-lg-push-3" value="Remove"
                                           style="float: right;">
                                </td>#}{#
                            {% endif %}#}

                            {# {{ commentaire.Contenu }}#}
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
            </div><!-- /row -->

        </div><!-- /container -->
        {# {% endif %}#}
        {#  {% endfor %}#}


    {% endfor %}
    {% if app.user %}
    <div class="container" style="margin-left: 25%; margin-bottom: 5%" >
        <div class="row">
            <div class="col-sm-12">
            </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo"
                         src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->


            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ app.user.username }}</strong> <span
                                class="text-muted"></span>
                    </div>
                    <div class="panel-body">

                        {{ form_start(form) }}
                        {{ form_widget(form.content) }}
                        <div class="rating" data-vote="0">

                            <div class="star hidden">
                                <span class="full"data-value="0"></span>
                                <span class="half"data-value="0"></span>
                            </div>

                            <div class="star">

                                <span class="full" data-value="1"></span>
                                <span class="half" data-value="1"></span>
                                <span class="selected"></span>

                            </div>

                            <div class="star">

                                <span class="full" data-value="2"></span>
                                <span class="half" data-value="2"></span>
                                <span class="selected"></span>

                            </div>

                            <div class="star">

                                <span class="full" data-value="3"></span>
                                <span class="half" data-value="3"></span>
                                <span class="selected"></span>

                            </div>

                            <div class="star">

                                <span class="full" data-value="4"></span>
                                <span class="half" data-value="4"></span>
                                <span class="selected"></span>

                            </div>

                            <div class="star">

                                <span class="full" data-value="5"></span>
                                <span class="half" data-value="5"></span>
                                <span class="selected"></span>

                            </div>


                        </div>

                        {{ form_widget(form.rating, { 'id': 'here'}) }}
                    </div><!-- /panel-body -->



                    <input type="submit" class="btn btn-default" value="LEAVE A REVIEW"
                           style="float: right;">

                    {{ form_end(form) }}



                </div>


            </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        </div><!-- /row -->

    </div>

{% endif %}
    {#==========================================================================================
      ======================              End Commentaire           ============================
      ==========================================================================================#}

<script>var starClicked = false;

    $(function() {

        $('.star').click(function() {

            $(this).children('.selected').addClass('is-animated');
            $(this).children('.selected').addClass('pulse');

            var target = this;

            setTimeout(function() {
                $(target).children('.selected').removeClass('is-animated');
                $(target).children('.selected').removeClass('pulse');
            }, 1000);



            starClicked = true;
        })

        $('.half').click(function() {
            if (starClicked == true) {
                setHalfStarState(this)
            }
            $(this).closest('.rating').find('.js-score').text($(this).data('value'));

            $(this).closest('.rating').data('vote', $(this).data('value'));
            calculateAverage()
            console.log(parseInt($(this).data('value')));
            document.getElementById("here").value = $(this).data('value');

        })

        $('.full').click(function() {
            if (starClicked == true) {
                setFullStarState(this)
            }
            $(this).closest('.rating').find('.js-score').text($(this).data('value'));

            $(this).find('js-average').text(parseInt($(this).data('value')));
/*
alert($(this).data('value'));
*/
            document.getElementById("here").value = $(this).data('value');
            $(this).closest('.rating').data('vote', $(this).data('value'));
            calculateAverage()

            console.log(parseInt($(this).data('value')));
        })

        $('.half').hover(function() {
            if (starClicked == false) {
                setHalfStarState(this)
            }

        })

        $('.full').hover(function() {
            if (starClicked == false) {
                setFullStarState(this)
            }
        })

    })

    function updateStarState(target) {
        $(target).parent().prevAll().addClass('animate');
        $(target).parent().prevAll().children().addClass('star-colour');

        $(target).parent().nextAll().removeClass('animate');
        $(target).parent().nextAll().children().removeClass('star-colour');
    }

    function setHalfStarState(target) {
        $(target).addClass('star-colour');
        $(target).siblings('.full').removeClass('star-colour');
        updateStarState(target)
    }

    function setFullStarState(target) {
        $(target).addClass('star-colour');
        $(target).parent().addClass('animate');
        $(target).siblings('.half').addClass('star-colour');

        updateStarState(target)
    }

    function calculateAverage() {
        var average = 0

        $('.rating').each(function() {
            average += $(this).data('vote')
        })

        $('.js-average').text((average/ $('.rating').length).toFixed(1))
    }</script>



    {#   <h1>Article</h1>

       <table>
           <tbody>
               <tr>
                   <th>Id</th>
                   <td>{{ article.id }}</td>
               </tr>
               <tr>
                   <th>Title</th>
                   <td>{{ article.title }}</td>
               </tr>
               <tr>
                   <th>Creationdate</th>
                   <td>{% if article.creationDate %}{{ article.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
               </tr>
               <tr>
                   <th>Content</th>
                   <td>{{ article.content }}</td>
               </tr>
           </tbody>
       </table>

       <ul>
           <li>
               <a href="{{ path('article_index') }}">Back to the list</a>
           </li>
           <li>
               <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
           </li>
           <li>
               {{ form_start(delete_form) }}
                   <input type="submit" value="Delete">
               {{ form_end(delete_form) }}
           </li>
       </ul>#}
{% endblock %}
