
{% extends 'base.html.twig' %}
{% block content %}

    <!-- ServicesController -->

    <div style="
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
">
    <div class="container centered">



            <link rel="stylesheet" href="css/rdv.css">

        <link rel="stylesheet" href="css/profil2.css">



        {#/**************************************************************/#}
        <div class="col-md-4 col3" style="float:right">

            <figure class="snip1515">
                <div class="profile-image"><img src="{{ asset('images/dog-7.png') }}" alt="sample47" /></div>
                <figcaption>
                    <h4> Dr. {{ office.owner.firstname }} {{ office.owner.lastname}}</h4>
                    <h4>{{ office.type }}</h4>
                    <p><br>{{ office.address }}<br>{{ office.email}}
                        <br>{{ office.phone }}</p>

                </figcaption>
            </figure>

        </div>










        {# /****************************************************/#}





        <div id="MonFormulaire" class="col-md-12 centered" style="float:right">


        <form action="{{ path('ajoutrdv',{'id':office.id}) }}" id="form-id" method="post" >

            <ul>


                    <dl class="dropdown">

                        <dt>
                            <a href="#">
                                <span class="hida">Select your pet</span>
                                <p class="multiSel"></p>
                            </a>
                        </dt>

                        <dd>
                            <div  class="mutliSelect">
                                <ul style="text-align: center">
                                    {% for pet in pets %}

                                    <li>
                                        <input  style="width: 10px" type="radio" value="{{ pet.id }}" name="animal" />{{ pet.name }}</li>

                                     {% endfor %}

                                </ul>
                            </div>
                        </dd>

                    </dl>


                <li id="">
                    <label for="">date</label>
                    <input id="datetime" class="form-cadre" name="date" type="datetime-local">
                </li>

                <li id="MessageClient-li" class="">
                    <textarea id="MessageClient" name="description" class="form-cadre" placeholder="Describe your appointment." title="Remplir ce champ est nécessaire pour que je sache la nature de votre demande"></textarea><br/>
                </li>


                <button  type="submit"  id="Btn-Submit">I confirm my appointment</button>

            </ul>

        </form>


    </div>

<div style="float: left">
    <h2 class="title">Appointments</h2>
    <ul id="items" class="list-group" >

        {% for appointment in appointments %}


       <li class="list-group-item"> {{ appointment.date|date('Y-m-d')  }}  <a  class=" btn-danger btn-sm  float-right delete"  href="{{ path('SupprimerRdv',{'id_rdv':appointment.id}) }}" >X</a> </li>

{% endfor %}
    </ul>

</div>

        {#*******************************cabinet***************************************#}
        <footer id="home_carousel" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#home_carousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/veto1.jpg" alt="" />

                </div>
                <div class="item">
                    <img src="images/sitter.jpg" alt="" />

                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#home_carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#home_carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </footer>




        {#*********************************************************#}
        {#
        <div class="row">
             <div class="col-md-12 centered">
                 <h3><span>Dog caring services</span></h3>
                 <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
             </div>
         </div>

        <div class="container">

             <div class="row ">

                 <div class="col-md-4 col3" >
                     <a href="services-single.html" title="Dog boarding kennels" class="roundal" id="kennel"></a>
                     <h3>Annimal Sitter</h3>
                     <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                     <form method="get" action="services-single.html">
                          <button type="submit" class="btn btn-default btn-green">Learn more</button>
                      </form>
                </div>
                <div class="col-md-4 col3">
                     <a href="services-single.html" title="Doggy grooming" class="roundal" id="grooming"></a>
                     <h3>Doggy grooming</h3>
                     <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                     <form method="get" action="services-single.html">
                         <button type="submit" class="btn btn-default btn-green">Learn more</button>
                     </form>
                 </div>
                <div class="col-md-4 col3">
                    <a href="{{ path('vito') }}" title="Veterinary" class="roundal" id="adoption"></a>
                    <h3>Veterinary</h3>
                    <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                    <form method="get" action="services-single.html">
                        <button type="submit" class="btn btn-default btn-green">Learn more</button>
                    </form>
                </div>


                <div class="col-md-4 col3">
                    <a href="services-single.html" title="Dog walking" class="roundal" id="walking"></a>
                     <h3>Dog walking</h3>
                     <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                     <form method="get" action="services-single.html">
                         <button type="submit" class="btn btn-default btn-green">Learn more</button>
                     </form>
                 </div>
                 <div class="col-md-4 col3">
                    {<a href="services-single.html" title="Care advice" class="roundal" id="advice"></a>
                     <h3>Care advice</h3>
                     <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                     <form method="get" action="services-single.html">
                         <button type="submit" class="btn btn-default btn-green">Learn more</button>
                     </form>
                 </div>
                 <div class="col-md-4 col3">
                     <a href="services-single.html" title="Puppy play" class="roundal" id="play"></a>
                     <h3>Puppy play</h3>
                     <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                     <form method="get" action="services-single.html">
                         <button type="submit" class="btn btn-default btn-green">Learn more</button>
                     </form>
                 </div>

            </div>

            </div>
        <div id="home_carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#home_carousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/veto1.jpg" alt="" />
                    <div class="carousel-caption">
                        <h2>Lorem ipsum delor sit amet</h2>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
                        <form method="get" action="index.html">
                            <button type="submit" class="btn btn-lg btn-default">Learn more</button>
                        </form>
                    </div>
                </div>
                <div class="item">
                    <img src="images/sitter.jpg" alt="" />
                    <div class="carousel-caption">
                        <h2>Lorem ipsum delor sit amet</h2>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
                        <form method="get" action="index.html">
                            <button type="submit" class="btn btn-lg btn-default">Learn more</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#home_carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#home_carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>



            <div class="row">
                <div class="col-md-12 centered">
                    <h3><span>Our happy animal customers</span></h3>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
            </div>


        </div>
        <!-- ServicesController end -->
          <!-- Carousel -->
           <div id="c-carousel">
               <div id="wrapper">
                   <div id="carousel">
                       <div>
                           <a href="images/dog-1.png" title="Dog" data-hover="Sandy the west highland terrier" data-toggle="lightbox" class="lightbox">
                               <img src="images/dog-1.png" alt="Dog" />
                           </a>
                       </div>
                       <div>
                           <a href="images/dog-2.png" title="Dog" data-hover="Marty the yorkshire terrier" data-toggle="lightbox" class="lightbox">
                               <img src="images/dog-2.png" alt="Dog" />
                           </a>
                       </div>
                       <div>
                           <a href="images/dog-3.png" title="Dog" data-hover="Kyla the bull terrier" data-toggle="lightbox" class="lightbox">
                               <img src="images/dog-3.png" alt="Dog" />
                           </a>
                       </div>
                       <div>
                           <a href="images/dog-1.png" title="Dog" data-hover="Marty the yorkshire terrier" data-toggle="lightbox" class="lightbox">
                               <img src="images/dog-1.png" alt="Dog" />
                           </a>
                       </div>
                       <div>
                           <a href="images/dog-2.png" title="Dog" data-hover="Sandy the west highland terrier" data-toggle="lightbox" class="lightbox">
                               <img src="images/dog-2.png" alt="Dog" />
                           </a>
                       </div>
                       <div>
                           <a href="images/dog-3.png" title="Dog" data-hover="Kyla the bull terrier" data-toggle="lightbox" class="lightbox">
                               <img src="images/dog-3.png" alt="Dog" />
                           </a>
                       </div>
                   </div>
                   <div id="pager" class="pager"></div>
               </div>
           </div>
           <!-- Carousel end -->
           <!-- Testimonials -->
           <div class="testimonials" data-stellar-background-ratio="0.6">
               <div class="container">
                   <div class="row">
                       <div class="col-md-12 centered">
                           <!-- Slider -->
                           <div id="home_testimonial" class="carousel slide" data-ride="carousel">
                               <!-- Indicators -->
                               <ol class="carousel-indicators">
                                   <li data-target="#home_testimonial" data-slide-to="0" class="active"></li>
                                   <li data-target="#home_testimonial" data-slide-to="1"></li>
                                   <li data-target="#home_testimonial" data-slide-to="2"></li>
                                   <li data-target="#home_testimonial" data-slide-to="3"></li>
                               </ol>

                               <!-- Wrapper for slides -->
                               <div class="carousel-inner">
                                   <div class="item active">
                                       <p>"Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum."</p>
                                   </div>
                                   <div class="item">
                                       <p>"Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui."</p>
                                   </div>
                                   <div class="item">
                                       <p>"Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum."</p>
                                   </div>
                                   <div class="item">
                                       <p>"Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui."</p>
                                   </div>
                               </div>
                           </div>
                           <!-- Slider end -->
                       </div>
                   </div>
               </div>
           </div>
           <!-- Testimonials end -->
           <!-- Purchase -->
           <div class="purchase nospace">
               <div class="container">
                   <div class="row">
                       <div class="col-md-9">
                           <p><strong>Pet</strong>Care is a totally awesome unique &amp; responsive HTML template<br />
                               <span>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</span></p>
                       </div>
                       <div class="col-md-3 purchase-button">
                           <form method="get" action="index.html.twig">
                               <button type="submit" class="btn btn-default btn-green">Purchase theme</button>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
           <!-- Purchase end -->#}
    </div></div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/profil1.js"></script>
    <script src="js/rdv.js"></script>


{% endblock %}