{% extends 'base.html.twig' %}

{% block body %}
    <h1>Breeds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Breedname</th>
                <th>Breeddescription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for breed in breeds %}
            <tr>
                <td><a href="{{ path('breed_show', { 'id': breed.id }) }}">{{ breed.id }}</a></td>
                <td>{{ breed.breedName }}</td>
                <td>{{ breed.breedDescription }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('breed_show', { 'id': breed.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('breed_edit', { 'id': breed.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('breed_new') }}">Create a new breed</a>
        </li>
    </ul>
{% endblock %}
