{% extends 'base.html.twig' %}

{% block body %}
    <h1>Breed</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ breed.id }}</td>
            </tr>
            <tr>
                <th>Breedname</th>
                <td>{{ breed.breedName }}</td>
            </tr>
            <tr>
                <th>Breeddescription</th>
                <td>{{ breed.breedDescription }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('breed_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('breed_edit', { 'id': breed.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
