{#{% extends 'base.html.twig' %}#}
{% extends 'dashbase.html.twig' %}
{% block content %}

    {% block body %}
        <link href="{{ asset('css/table.css') }}" rel="stylesheet">


        <link href="{{ asset('css/admintable.css') }}" rel="stylesheet">

        <div style="padding-top: 5%; padding-bottom: 5%; text-align: center;  ">
    <h1>Animals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Type</th>
                <th>Age</th>
                <th>Size</th>
                <th>Spayed</th>
                <th>Livewcats</th>
                <th>Hometest</th>
                <th>Childfriend</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td><a href="{{ path('animal_show', { 'id': animal.id }) }}">{{ animal.id }}</a></td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.gender }}</td>
                <td>{{ animal.type }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.size }}</td>
                <td>{{ animal.spayed }}</td>
                <td>{{ animal.liveWcats }}</td>
                <td>{{ animal.homeTest }}</td>
                <td>{{ animal.childFriend }}</td>
                <td>{{ animal.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('animal_show', { 'id': animal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('animal_edit', { 'id': animal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animal_new') }}">Create a new animal</a>
        </li>
    </ul>
{% endblock %}
{% endblock %}