{% extends 'dashbase.html.twig' %}
{% block content %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">


    <link href="{{ asset('css/admintable.css') }}" rel="stylesheet">

    <div style="padding-top: 5%; padding-bottom: 5%; text-align: center;  ">
{% block body %}
    <h1>Animals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Type</th>
                <th>Age</th>
                <th>Size</th>
                <th>Breed</th>
                <th>Spayed</th>
                <th>Livewcats</th>
                <th>Hometest</th>
                <th>Childfriend</th>
                <th>Status</th>
                <th>Description</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td><a href="{{ path('animal_show', { 'id': animal.id }) }}">{{ animal.id }}</a></td>
                <td>{{ animal.name }}</td>

                <td>{% if animal.gender %}male{% else %}Female{% endif %}</td>
                <td>{{ animal.type }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.size }}</td>

                <td>{{ animal.breed }}</td>
                <td>{% if animal.spayed %}Yes{% else %}No{% endif %}</td>
                <td>{% if animal.liveWcats %}Yes{% else %}No{% endif %}</td>
                <td>{% if animal.homeTest %}Yes{% else %}No{% endif %}</td>
                <td>{% if animal.childFriend %}Yes{% else %}No{% endif %}</td>

                <td>{{ animal.status }}</td>
                <td>{{ animal.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('animal_show', { 'id': animal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('animal_edit', { 'id': animal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animal_new') }}">Create a new animal</a>
        </li>
    </ul>
{% endblock %}
{% endblock %}