{#{% extends 'base.html.twig' %}
{% block content %}
{% block body %}
    <h1>Animal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ animal.gender }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ animal.type }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ animal.age }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ animal.size }}</td>
            </tr>
            <tr>
                <th>Breed</th>
                <td>{{ animal.breed }}</td>
            </tr>
            <tr>
                <th>Spayed</th>
                <td>{{ animal.spayed }}</td>
            </tr>
            <tr>
                <th>Livewcats</th>
                <td>{{ animal.liveWcats }}</td>
            </tr>
            <tr>
                <th>Hometest</th>
                <td>{{ animal.homeTest }}</td>
            </tr>
            <tr>
                <th>Childfriend</th>
                <td>{{ animal.childFriend }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ animal.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('animal_edit', { 'id': animal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% endblock %}#}


{% extends 'base.html.twig' %}
{% block content %}


    <div style="
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
">
        <!-- Services -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 prev-next">
                    <p>
                        <a href="#" title="" class="prev-page"><span class="glyphicon glyphicon-chevron-left"></span> Meet <span class="name">Kyla</span>, the Staffordshire Bull Terrier</a>
                        <a href="#" title="" class="next-page">Meet <span class="name">Percy</span>, the Pug <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </p>
                </div>
            </div>
            <div class="row adoption-single">
                <div class="col-md-6">
                    <!-- Slider -->
                    <div id="adoption" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="images/adoption-1.png" alt="Dog adoption page" />
                            </div>
                            <div class="item">
                                <img src="images/adoption-1.png" alt="Dog adoption page" />
                            </div>
                            <div class="item">
                                <img src="images/adoption-1.png" alt="Dog adoption page" />
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#adoption" data-slide-to="0" class="active"><img src="images/adoption-1.png" alt="Dog adoption page" /></li>
                            <li data-target="#adoption" data-slide-to="1"><img src="images/adoption-1.png" alt="Dog adoption page" /></li>
                            <li data-target="#adoption" data-slide-to="2"><img src="images/adoption-1.png" alt="Dog adoption page" /></li>
                        </ul>

                    </div>
                    <!-- Slider end -->
                </div>
                <div class="col-md-6">
                    <h2>{{ animal.name }}</h2>
                    <p>{{ animal.description }}</p>
                    <ol>
                        <li><span>Age</span> {{ animal.age }}</li>
                        <li><span>Size</span> {{ animal.size }}</li>
                        <li><span>Breed</span> {{ animal.breed }}</li>
                        <li><span>Gender</span> {% if animal.gender %}Male{% else %}Female{% endif %}</li>
                        <li><span>Spayed</span>{% if animal.spayed %}Yes{% else %}No{% endif %}</li>
                        <li><span>Live with cats</span> {% if animal.liveWcats %}Yes{% else %}No{% endif %}</li>
                        <li><span>Home tested</span> {% if animal.homeTest %}Yes{% else %}No{% endif %}</li>
                        <li><span>Child friendly</span>{% if animal.childFriend %}Yes{% else %}No{% endif %}</li>
                        <li><span>Reference</span> {{ animal.id }}</li>
                    </ol>
                    <div >
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-green col-xs-6 ">Adopt</button>

                        </div>
                    </div>
                </div>

                <ul>
                    <li>
                        <a href="{{ path('animal_index') }}">Back to the list</a>
                    </li>
                    <li>
                        <a href="{{ path('animal_edit', { 'id': animal.id }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Adoption -->

        <!-- Adoption end -->
    </div>

{% endblock %}

